<h1>Listing services</h1>
<hr />
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td>
      <span class="pull-right">
        <%= link_to 'Edit', edit_service_path(service) if can? :edit, Service %>
        <%= link_to 'Delete', service, confirm: 'Are you sure?', method: :delete if can? :delete, Service %>
      </span>
    </td>
  </tr>
<% end %>
</table>

<br />

<div class="form-actions">
  <%= link_to 'Create Service', new_service_path, :class => "btn btn-info" if can? :create, Service %>
  <%= link_to 'Dashboard', root_url, :class => 'btn' %>
</div>
