<h1>Listing bills</h1>
<hr />
<table class="table table-striped">
  <tr>
    <th>Issuer</th>
    <th>Date Issued</th>
    <th>Date Due</th>
    <th>Total Due</th>
    <th>Total Paid</th>
    <th></th>
  </tr>

<% @bills.each do |bill| %>
  <tr>
    <td><%= bill.vendor.name %></td>
    <td><%= bill.issue_date.strftime("%B %d, %Y") %></td>
    <td><%= bill.due_date.strftime("%B %d, %Y") %></td>
    <td><%= number_to_currency(bill.total_due) %></td>
    <td><%= number_to_currency(bill.total_paid) %></td>
    <td>
      <span class="pull-right">
        <%= link_to 'Show', bill, :class => "btn" %>
        <%= link_to 'Edit', edit_bill_path(bill), :class => "btn btn-info" %>
        <%= link_to 'Delete', bill, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
      </span>
    </td>
  </tr>
<% end %>
</table>

<br />

<div class="form-actions">
  <%= link_to 'Create Bill', new_bill_path, :class => 'btn btn-info' %>
  <%= link_to 'Dashboard', root_url, :class => 'btn' %>
</div>
