<h1>Bill Details</h1>
<hr />
<table class="table table-striped table-condensed">
  <tr>
    <th>Amount Due</th>
    <th>Amount Paid</th>
    <th></th>
  </tr>

<% @bill.slices.each do |slice| -%>
  <tr>
    <td><%= number_to_currency(slice.amount) %></td>
    <td><%= number_to_currency(slice.total_paid) %></td>
    <td>
      <span class="pull-right">
        <%= link_to 'View Details', slice_url(slice.bill, slice), :class => 'btn' %>
        <%= link_to 'Edit', edit_slice_url(slice.bill, slice), :class => 'btn btn-info' %>
        <%= link_to 'Delete', slice_url(slice.bill, slice), confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %>
      </span>
    </td>
  </tr>
<% end %>
</table>

<div class="form-actions">
  <%= link_to 'Add Receiver', new_slice_path(@bill), :class => 'btn btn-success' %>
  <%= link_to 'Back', bills_path, :class => 'btn' %>
  <span class="pull-right">
    <%= link_to 'Edit Bill', edit_bill_path(@bill), :class => 'btn btn-primary' %>
  </span>
</div>
