<h1>Listing vendors</h1>
<hr />
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Services</th>
    <th></th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td><%= vendor.name %></td>
    <td><%= vendor.services.map(&:name).join(', ') %></td>
    <td>
      <span class="pull-right">
        <%= link_to 'Edit', edit_vendor_path(vendor) %>
        <%= link_to 'Delete', vendor, confirm: 'Are you sure?', method: :delete %>
      </span>
    </td>
  </tr>
<% end %>
</table>

<br />

<div class="form-actions">
  <%= link_to 'Create Vendor', new_vendor_path, :class => "btn btn-info" %>
  <%= link_to 'Dashboard', root_path, :class => "btn" %>
</div>
