<%= form_for(@slice, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @slice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slice.errors.count, "error") %> prohibited this slice from being saved:</h2>

      <ul>
      <% @slice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :bill_id, :value => params[:bill_id] %>

  <div class="control-group">
    <%= f.label :user_id, "Receiver", :class => "control-label" %>
    <div class="controls">
      <%= f.select :user_id, User.all.map { |v| [v.email, v.id] } %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :amount, "Amount Due", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to "Back", bill_path(params[:bill_id]), :class => "btn" %>
  </div>
<% end %>
