<h1>Payments</h1>
<hr />
<table class="table table-striped table-condensed">
  <tr>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>

<% @slice.payments.all.each do |payment| -%>
  <tr>
    <td><%= number_to_currency(payment.amount) %></td>
    <td><%= link_to 'Edit', edit_slice_payment_url(@slice, payment, :bill_id => @slice.bill.id) %></td>
    <td><%= link_to 'Delete', slice_payment_url(@slice, payment, :bill_id => @slice.bill.id), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<div class="form-actions">
  <%= link_to 'New Payment', new_slice_payment_path(params[:bill_id], params[:id]), :class => 'btn btn-success' %>
  <%= link_to 'Back', bill_url(@slice.bill), :class => 'btn btn-primary' %>
</div>
